@font-face {
  font-family: 'Roboto', sans-serif;;
}
// navbar sectionun bashlangici
#navbar{
  width: 100%;
    .navbar{
      width: 100% !important;
      background: transparent;
      height: 70px;
        .navbar-header{
          button{
            border: 1px solid white;
            i{
              color:white;
              font-size: 22px;
            }
          }
        }
          .collapse{
            .nav{
              padding-top: 10px;
              li{
                a{
                  color: white;
                  font-size: 18px;
                  letter-spacing: 3px;
                  font-weight: 300;
                  cursor: pointer;
                }a:hover{
                  background: none;
                }
              }
            }
          }
    }
    @media screen and (max-width: 768px){
      .navbar{
        .collapse{
          background: black;
        }
      }
    }
}
// navabr sectionun sonu

// header sectionun bashlanghici
#header{
  height: 800px;
  width: 100%;
  background-image: url('../../images/1500133346.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
    .header_content{
      padding: 0 250px;
      h1{
        color: white;
        text-transform: capitalize;
        letter-spacing: 2px;
        font-size: 60px;
        line-height: 80px;
        font-weight: bold;
        font-family: 'Roboto';
        margin-top:0px;
        padding-top: 220px;
      }
      p{
        margin-top: 30px;
        color:white;
        font-size: 18px;
        line-height: 30px;
        font-weight: 200;
        opacity: 0.8;
        font-family: 'Roboto';
      }
      button{
        margin-top: 20px;
        background: transparent;
        color:white;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        // border-radius: 50px;
        letter-spacing: 1px;
        padding: 15px 40px;
        border: 2px solid white;
        transition:all .5s ease;
      }button:hover{
        background: white;
        color: black;
        transition:all .5s ease;
      }button:focus{
        outline: none;
      }
    }
}
// header sectionun sonu

// about_us sectionun bashlangici
#about_us{
  width: 100%;
  min-height: 400px;
  color: black;
  padding: 60px 0;
    h2{
      font-family: 'Roboto';
      font-size: 44px;
      line-height: 60px;
      font-weight: bold;
    }
    p{
      margin-top: 30px;
      font-size: 15px;
      line-height: 30px;
      font-family: 'Roboto';
      color: #777;
      line-height: 25px;
      letter-spacing: 1px;
      word-spacing: 0.18em;
    }
    a{
      margin-top: 20px;
      background: transparent;
      color:black;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
      font-family: 'Roboto';
      line-height: 30px;
      font-weight: 600;
      // border-radius: 50px;
      letter-spacing: 1px;
      padding: 15px 40px;
      border: 2px solid black;
      transition:all .5s ease;
    }a:hover{
      transition:all .5s ease;
      color: white;
      background: #578385;
      border-color: white;
    }
    .about_img{
      // width: 550px;
      height: 415px;
        img{
          width: 100%;
          height: 100%;
        }
    }
}
// about_us sectionun sonu

// services sectionun bashlangici
#services{
  width: 100%;
  min-height: 400px;
  padding: 20px 0;
  background-color: #e6e6e6;
    h5{
      font-size: 36px;
      line-height: 50px;
      font-family: 'Roboto';
      margin-bottom: 0px;
    }
    p{
      color: #707070;
      font-size: 15px;
      line-height: 26px;
      font-family: 'Roboto';
      margin-bottom: 30px;
    }
    .service{
      margin-top: 30px;
      .service_img{
        background: #578385;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        text-align: center;
          i{
            color: white;
            font-size: 25px;;
            color: #fff;
            margin-top: 13px;
          }
        }
        h6{
          color: #222;
          font-size: 18px;
          line-height: 1.1;
          font-family: 'Roboto';
        }
        p{
          color: #777;
          font-family: 'Roboto';
          font-size: 14px;
          line-height: 24px;
          font-weight: 400;
          word-wrap: break-word;
        }
      }
}

// services sectionun sonu

// work sectionun bashlangici
#works{
  min-height: 400px;
  width: 100%;
  padding: 20px 0;
    h5{
      font-size: 36px;
      line-height: 50px;
      font-family: 'Roboto';
      margin-bottom: 0px;
    }
    ul{
    border: none;
    margin-top: 30px;
      li{
        list-style: none;
        display: inline-block;
          a{
            text-decoration: none;
            padding: 0 1.5rem;
            font-size: 18px;
            border-radius: 15px;
            border: 0;
            color: #578385 !important;
            cursor: pointer;
            display: inline-block;
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            font-family: 'Roboto';
          }
      }
  }
  .items{
    margin-top: 20px;
    .item{
      transition: .5s;
      position: relative;
      // overflow: hidden;
        a{
          text-decoration: none;
            img{
              width: 100%;
              height: 100%;
            }
        }
        .caption{
          width: 100%;
          height: 100%;
          background-color: #fff;
          opacity: .8;
          position: absolute;
          top: 0px;
          padding: 10px;
          transform: scale(0);
          transition: all .5s ease;
            .border{
              width: 100%;
              height: 100%;
              border: 1px solid #578385;
              h4{
                margin-top: 60px;
                a{
                  color: #222;
                  font-family: 'Roboto';
                  text-decoration: none;
                }
              }
              ul{
                padding: 0px;
                  li{
                    list-style: none;
                    display: inline-block;
                    color: #777;
                    font-family: 'Roboto';
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 300;
                  }
              }
            }
        }
    }.item:hover{
      .caption{
        transform:scale(1);
        transition: all .5s ease;
      }
    }
  }
}
// work sectionun sonu

// feedbacks sectionun bashlangici bashlangici
#feedbacks{
  width: 100%;
  min-height: 450px;
  padding: 20px 0;
  background: #e6e6e6;
  overflow-x: hidden;
  h5{
    font-size: 36px;
    line-height: 50px;
    font-family: 'Roboto';
    margin-bottom: 40px;
  }
    .carousel{
      .carousel-indicators{
        top: 270px;
            li{
              border: 1px solid black !important;
            }
            .active{
              background-color: black !important;
            }
      }
      .carousel-inner{
        overflow: visible;
        .item{
          img{
            width: 150px;
            height: 150px;
            border-radius: 100%;
            text-align: center;
          }
          .carousel-caption{
            top: 150px;
            h3{
              color: black;
              font-size: 18px;
              font-family: 'Roboto';
            }
            p{
              color: black;
              font-size: 15px;
              font-family: 'Roboto';
            }
          }
        }
      }
      .carousel-control{
        background: transparent;
        color:black;
        opacity: 1;
      }
      .left{
        left:15%;
        // top:10%;
      }
      .right{
        right: 15%;
      }
    }
}
// feedbacks sectionun sonu

// team sectionun bashlangici
#team{
  width: 100%;
  min-height: 500px;
  padding:20px 0;
  h5{
    font-size: 36px;
    line-height: 50px;
    font-family: 'Roboto';
    margin-bottom: 30px;
  }
  .member{
    transition: all .5s ease;
    .member_img{
      position: relative;
        .member_social{
          position: absolute;
          top: 0px;
          width: 100%;
          height: 100%;
          background-color: #fff;
          opacity: .8;
          border: 1px solid #eee;
          padding-top: 120px;
          transform: scale(0);
          transition: all .5s ease;
            ul{
              padding: 0px;
                li{
                  list-style: none;
                  display: inline-block;
                  border-radius: 100%;
                  border: 1px solid #000000;
                  width: 30px;
                  height: 30px;
                  margin-right: 10px;
                  transition: all .5s ease;
                    a{
                      text-decoration: none;
                      color: #000000;
                      font-size: 15px;
                      line-height: 30px;
                    }
                }li:hover{
                  background: #578385;
                  transition: all .5s ease;
                  border-color: #578385;
                    a{
                      color:white;
                    }
                }
            }
        }
    }.member_img:hover{
      .member_social{
        transform: scale(1);
        transition: all .5s ease;
      }
    }
    .member_info{
      width: 100%;
      min-height: 50px;
      padding: 10px;
      border: 1px solid #eee;
      border-top: 0px;
      font-family: 'Roboto';
      transition: all .5s ease;
        p{
          color:#777;
          transition: all .5s ease;
        }
    }.member_info:hover{
      background: #578385;
      color: white !important;
      transition: all .5s ease;
        p{
          color: white;
          transition: all .5s ease;
        }
    }
  }.member:hover{
    box-shadow: 0 3px 20px rgba(0,0,0,.15);
    transition: all .5s ease;
  }

}
// team sectionun sonu

// contact sectionun bashlangici
#contact{
  width: 100%;
  min-height: 500px;
  padding: 20px 0;
  h5{
    font-size: 36px;
    line-height: 50px;
    font-family: 'Roboto';
    margin-bottom: 30px;
  }
  .message{
    h5{
      font-size: 24px;
      color: #222222;
      // line-height: 50px;
      font-family: 'Roboto';
    }
    input{
      border: none;
      border-bottom: 1px solid #578385;
      border-radius: 0px;
      box-shadow: none;
      font-size: 18px;
      line-height: 30px;
      font-weight: 300;
      margin-bottom: 25px;
      font-family: 'Roboto';
    }
    textarea{
      outline: none;
      resize: none;
      border: 0px;
      border-bottom: 1px solid #578385;
      font-family: 'Roboto';
      border-radius: 0px;
      box-shadow: none;
    }
    button{
      margin-top: 20px;
      background: transparent;
      color:black;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 15px;
      font-family: 'Roboto';
      line-height: 50px;
      font-weight: 400;
      // border-radius: 50px;
      letter-spacing: 1px;
      padding: 0 20px;
      border: 1px solid #578385;
      transition:all .5s ease;
    }button:hover{
      transition:all .5s ease;
      background: #578385;
      color: white;
    }
  }
  iframe{
    margin-top: 50px;
  }
}
// contact sectionun sonu

// footer sectionun bashlangici
footer{
  width: 100%;
  min-height: 80px;
  background-color: #1e1e1e;
  padding: 20px 0;
    p{
      display: inline-block;
      color: white;
      font-size: 18px;
      font-family: 'Roboto';
      margin-right: 15px;
      margin-top: 12px;
        i{
          margin-right: 10px;
        }
    }
    span{
      color: white;
      font-size: 18px;
      margin: 0 20px;
    }
    ul{
      padding: 0px;
        li{
          list-style: none;
          display: inline-block;
          border-radius: 100%;
          border: 1px solid white;
          width: 40px;
          height: 40px;
          margin-right: 10px;
          transition: all .5s ease;
            a{
              text-decoration: none;
              color: white;
              font-size: 15px;
              line-height: 40px;
            }
        }li:hover{
          background: white;
          transition: all .5s ease;
          border-color: white;
            a{
              color:black;
            }
        }
    }
}
// footer sectionun sonu

// ==========     media queries     ==========
@media screen and (max-width: 768px){
  #header{
    .header_content{
      padding: 0 20px;
        h1{
          padding-top: 80px;
        }
    }
  }
}
